{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<script src="../static/javascript/add_condition.js"></script>
<link rel="stylesheet" href="../static/css/add_condition.css">

<!-- Display flashed messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="title">
    <h1>Add condition</h1>
  </div>
  
  <div class="form-container">
    <form method="POST">
        <div class="mb-3" style="margin-bottom: 0 !important;">
            <label for="exampleInputUsername1" class="form-label">Condition name</label>
            <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" name="condition_name" placeholder="Asthma">
        </div>
        <div class="container1">
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea2" style="height: 100px" name="condition_desc" placeholder="Asthma is a lung condition"></textarea>
                <label for="floatingTextarea2">Condition description</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" onkeyup="handleInput(event)" rows="10" id="floatingTextarea3" style="height: 100px" name="condition_symptom" placeholder="Condition symptoms"></textarea>
                <label for="floatingTextarea3">Condition symptoms</label>
            </div>
        </div>
        <div class="container2">
            <div class="form-floating">
                <textarea class="form-control" onkeyup="handleInput(event)" rows="10" id="floatingTextarea4" style="height: 100px" name="condition_treatment" placeholder="Condition treatment"></textarea>
                <label for="floatingTextarea4">Condition treatment</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" onkeyup="handleInput(event)" rows="10" id="floatingTextarea5" style="height: 100px" name="condition_causes" placeholder="Condition causes"></textarea>
                <label for="floatingTextarea4">Condition causes</label>
            </div>
        </div>
        <div class="container3">
            <select class="form-select" aria-label="Default select example" name="weather_type">
                <option selected required>Weather type</option>
                <option value="Extreme heat">Extremely hot</option>
                <option value="Mild heat">Mildly hot</option>
                <option value="Average temperature">Average temperature</option>
                <option value="Mild heat">Mildly cold</option>
                <option value="Mild heat">Extremely cold</option>
            </select>
            <select class="form-select" aria-label="Default select example" name="condition_type">
                <option selected required>Condition type</option>
                <option value="enviromental">Enviromental</option>
                <option value="air_quality">Air Quality</option>   
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add condition</button>
    </form>
  </div>

{% endblock %}