{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/about_us.css">
<h1 style="text-align: center;">Health Advice Group</h1>
<div class="main-container">
    <div class="image-box">
        <img src="../static/images/about_us_weather.jpg" class="img1">
        <img src="../static/images/about us p2.jpg" class="img2">
    </div>
    <div class="text-box">
        <h4>
            Here at Health Advice Group, we are dedicated to giving the best and most accurate advice. We provide home risk assessments which you can book. We provide in depth information regarding health conditions
            and the type of enviroments or conditions they can affect you. We have live weather forecast and air quality forecast to ensure you have the most accurate information. We also have a health tracking tool,
            wherein you can track your conditions, height, weight, medication and make any notes you want to, which are all updatable immediately.
        </h4>
        <h4>
            Health Advice Group was founded in 2002, Norwich, England with the simple goal of combining weather and enviromental forecasts with the best possible health information as we had not seen any other companies
            do this. We believe this is a very important consideration but is not thought about a lot. Weather and air quality can seriously affect your health so we believe it is absouletely vital to track these things.
            Our CEO, Ford Prefect started the company in his garage with a few friends and over the years our company has grown into one of the largest companies in the world, listed on the NASDAQ,
            FTSE 100 and the NYSE and with 10,000 of the most incredible software engineers.
        </h4>
    </div>
</div>
{% endblock %}